/* NAVBAR */

nav {
    height: 300px;
    background-image: url("imagenes/Imagenes del Header/surface-rkr_jnaGzIk-unsplash.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    background-color: #FCF3CF;
       }

#navbar-links{
    height: 270px;}

.navbar-brand{
    height: 270px;
}
.navbar-toggler{
    position:center;
    height: 270px;
}
.nav-item{
    text-align: right ;
    height: 30px;}
    

/* ACERCA DE */
    
#imagen-acercade{
    
    display: block;
    margin:auto;
    margin-top: 1%;
    border-style: solid;
    border-color:rgb(229, 182, 182);
    border-radius: 200px;
    
           
}
h2{
        
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:#D3830B;    
    font-weight:bold;
    padding-top:15px;

}

#parrafo-acercade{

    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:#47474A;    
    font-weight:bold;
    margin-left: 15%;
    margin-right: 15%;
 padding-bottom: 120px;
}

#span-parrafo-acercade{

    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color:#161FF3;    
    font-weight:bold;
   }




/* TRABAJOS */

#trabajos{
    background-color: #F2F2F2;
    margin-top: 10%;
}
h1{
    
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:#323068;    
    font-weight:bold;
    padding-bottom:50px;
}

.imagentrabajos{
    display:block;
    margin:auto;
    width:100px;
    height:100px;
    }

#parrafotrabajo{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:#3895EA;    
    font-weight:bold;
    padding-bottom: 150px;
}


#imagenredessociales{
    display:block; 
    position:top;
    margin:auto;
    width:150px;
    height:100px;
    } 

#footer{
    background-color: #1E2B38;
    padding-top: 0%;
    border-radius: 0% 0%;
   }

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 2 pagina PAGINA TRABAJOS DESARROLLADO */

#h1-paginatrabajosdesarrollado{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:#323068;    
    font-weight:LIGHTER;
    font-size:30px;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 40px;
    padding-top: 40px;

}

#p-paginatrabajosdesarrollado{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    color:#47474A;    
    font-weight:LIGHTER;
    font-size:20px;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 40px;
    padding-top: 40px;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* CAROUSEL DE IMAGENES */

.carousel {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-size: 600%;
    background-color: gainsboro;
}
    
        

#foto {
    width: 100%;
    height: 100%;
    margin: 1%;
    
    
}

#botoncarrousel{
align-self: center;
background-color: #e4dce9;
border-radius: 40%;
border-color: rgb(165, 140, 140);
border-style: solid;
color:#8c819b;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */