<a name="ancla-trabajos"></a>
  <div id="trabajos" class="container-fluid">
    <h1>Trabajos</h1>
    <div class="row">
     
             <!-- columna izquierda -->
  
      <div class="col-12 col-lg-4 col-sm-12">
        <a routerLink="/trabajos-desarrollado" fragment="h1-paginatrabajosdesarrollado"><img class="imagentrabajos" src="../assets/Imagenes/Imagenes del body/ImgLogoUTN_bco.png" alt="ImgLogoUTN_bco"></a>
        <p id="parrafotrabajo"><a  href="https://utn.edu.ar/es/" style="text-decoration:none" target="_blank">UNIVERSIDAD TECNOLÓGICA NACIONAL - RECTORADO</a></p></div>
                     
   
  
             <!-- columna central -->     
  
      <div class="col-12 col-lg-4 col-sm-12">
        <a routerLink="/trabajos-desarrollado"><img class="imagentrabajos" src="../assets/Imagenes/Imagenes del body/Logo INSPT.png" alt="logo inspt"></a>
        <p id="parrafotrabajo"><a  href="http://www.inspt.utn.edu.ar/" style="text-decoration:none" target="_blank">INSTITUTO NACIONAL SUPERIOR DEL PROFESORADO TECNICO</a></p></div>
                     
  
             <!-- columna derecha -->     
  
      <div class="col-12 col-lg-4 col-sm-12">        
        <a routerLink="/trabajos-desarrollado"><img class="imagentrabajos" src="../assets/Imagenes/Imagenes del body/ImgLogoUTN_bco.png" alt="ImgLogoUTN_bco"></a>
        <p id="parrafotrabajo"><a  href="https://utn.edu.ar/es/" style="text-decoration:none" target="_blank">UNIVERSIDAD TECNOLÓGICA NACIONAL - RECTORADO</a></p></div> 
    </div>
  </div>