<main>
    <div class="container-fluid">
    <img id="imagen-acercade" src="../assets/Imagenes/ImagenesdelHeader/FotoCV.jpg" alt="imagen acerca de">
        <h2>Acerca de mi</h2> 
        <p id="parrafo-acercade">Diplomados en gestión académica, materiales didácticos en EaD y conocimientos en programación. Experiencia profesional en gestión y planeamiento educativo desarrollados en el ámbito académico y administrativo de la <span id="span-parrafo-acercade">Universidad Tecnológica Nacional y el Instituto Nacional Superior del Profesorado Técnico.</span>
        </p>
    </div>

    <div>
    <app-trabajos></app-trabajos>
    </div>

    </main>
    